
.custom-content {
    font-size: 17px;
    color: #222020;
}
.table-wrapper {
    overflow-x: auto; 
    -webkit-overflow-scrolling: touch; 
}


.text-overflow {
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    max-width: 150px;
}

.custom-table  {
    background-color: #f7f9fc; 
    border-radius: 8px;
    padding: 1rem;
   
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-table th {
    background-color: #767e86; 
    color: #fff; 
    padding: 1rem;
    font-size: 16px;
    text-align: left;
}

.custom-table  td {
    padding: 0.75rem;
    font-size: 16px;
    color: #333;
    border-bottom: 1px solid #ddd; /* Separator line between rows */
}

.custom-table  tr:nth-child(even) {
    background-color: #e9ecef; /* Alternating row color */
}

.custom-table  tr:hover {
    background-color: #f1f1f1; /* Row hover effect */
}