<p-tabView >
  <p-tabPanel header="My Cases">
<div class="card">
  <button
    pButton
    pRipple
    type="button"
    icon="pi pi-plus"
    label="Add New Case"
    [style]="{ color: 'skyblue' }"
    (click)="showDialog()"
    class="p-button-rounded p-button-text p-button-success mb-4"
  ></button>

  <!-- 
    <ng-template pTemplate="caption">
        <div class="flex">
            <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
            <span class="p-input-icon-left ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText type="text"  placeholder="Search keyword" />
            </span>
        </div>
    </ng-template> -->

    <p-table
    [value]="products"
    dataKey="case_id"
    editMode="row"
    [tableStyle]="{ 'min-width': '50rem' }"
    selectionMode="single"
    (onRowSelect)="onRowSelect($event)"
    class="clickable-row"
  >
    <ng-template pTemplate="caption">
      <div class="flex">
        <button
          pButton
          label="Clear"
          class="p-button-outlined"
          icon="pi pi-filter-slash"
          (click)="clear(dt1)"
        ></button>
        <span class="p-input-icon-left ml-auto">
          <i class="pi pi-search"></i>
          <!-- Use (input) event to call the onSearch method -->
          <!--   (input)="onSearch($event.target.value)" -->
          <input pInputText type="text" placeholder="Search keyword" />
        </span>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th style="width: 20%">Name</th>
        <th style="width: 20%">Type</th>
        <th style="width: 20%">Description</th>
        <th style="width: 20%">Court Name</th>
        <th style="width: 20%">Location</th>
        <th style="width: 20%">Start Date</th>
        <th style="width: 20%">Status</th>
        <th style="width: 20%">Number of Hearings</th>
        <th style="width: 20%">End Date</th>
        <th style="width: 20%">Documents</th>
        <th style="width: 20%"></th>
      </tr>
    </ng-template>
    <ng-template
      pTemplate="body"
      let-product
      let-editing="editing"
      let-ri="rowIndex"
    >
      <tr [pEditableRow]="product">
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="product.case_name" />
            </ng-template>
            <ng-template pTemplate="output">
              {{ product.case_name }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input
                pInputText
                type="text"
                [(ngModel)]="product.type"
                required
              />
            </ng-template>
            <ng-template pTemplate="output">
              {{ product.type }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input
                pInputText
                type="text"
                [(ngModel)]="product.description"
                required
              />
            </ng-template>
            <ng-template pTemplate="output">
              {{ product.description }}
            </ng-template>
          </p-cellEditor>
        </td>

        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input
                pInputText
                type="text"
                [(ngModel)]="product.court_name"
                required
              />
            </ng-template>
            <ng-template pTemplate="output">
              {{ product.court_name }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input
                pInputText
                type="text"
                [(ngModel)]="product.location"
                required
              />
            </ng-template>
            <ng-template pTemplate="output">
              {{ product.location }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input
                pInputText
                type="text"
                [(ngModel)]="product.start_date"
                required
              />
            </ng-template>
            <ng-template pTemplate="output">
              {{ product.start_date }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <p-dropdown
                [options]="statuses"
                appendTo="body"
                [(ngModel)]="product.status"
                [style]="{ width: '100%' }"
              ></p-dropdown>
            </ng-template>
            <ng-template pTemplate="output">
              {{ product.status }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input
                pInputText
                type="text"
                [(ngModel)]="product.no_of_hearings"
                required
              />
            </ng-template>
            <ng-template pTemplate="output">
              {{ product.no_of_hearings }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input
                pInputText
                type="text"
                [(ngModel)]="product.end_date"
                required
              />
            </ng-template>
            <ng-template pTemplate="output">
              {{ product.end_date }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input
                pInputText
                type="text"
                [(ngModel)]="product.documents"
                required
              />
            </ng-template>
            <ng-template pTemplate="output">
              {{ product.documents }}
            </ng-template>
          </p-cellEditor>
        </td>

        <td>
          
          <div class="flex align-items-center justify-content-center gap-2">

            <p-button
            (click)="showDialogBox()"
            icon="pi pi-external-link"
            label="Case1"
          ></p-button>
            <button
              *ngIf="!editing"
              pButton
              pRipple
              type="button"
              pInitEditableRow
              icon="pi pi-pencil"
              (click)="onRowEditInit(product)"
              class="p-button-rounded p-button-text"
            ></button>

            <!-- Overlay Panel to display the menu on click of the ellipsis button -->
            <p-overlayPanel #overlay [showCloseIcon]="true">
              <p-menu [model]="items"></p-menu>
            </p-overlayPanel>

            <div class="relative-container">
              <p-toast></p-toast>
              <button
                pButton
                type="button"
                (click)="overlay.toggle($event)"
                icon="pi pi-ellipsis-v"
                class="p-button-rounded p-button-text"
              ></button>
            </div>

            <button
              *ngIf="editing"
              pButton
              pRipple
              type="button"
              pSaveEditableRow
              icon="pi pi-check"
              (click)="onRowEditSave(product)"
              class="p-button-rounded p-button-text p-button-success mr-2"
            ></button>
            <button
              *ngIf="editing"
              pButton
              pRipple
              type="button"
              pCancelEditableRow
              icon="pi pi-times"
              (click)="onRowEditCancel(product, ri)"
              class="p-button-rounded p-button-text p-button-danger"
            ></button>

           
          </div>
        </td>
      </tr>




<!-- <a class="clickable-text" (click)="showDialog()">Click here to open popup</a> -->

<!-- <p-dialog header="Details" [(visible)]="display" [modal]="true" [closable]="true">
    <p>Here are some details in the popup.</p>
</p-dialog> -->

    
      <p-dialog
      header="Case Details"
      [(visible)]="visible"
      [style]="{ width: '80vw', height: '80vw' }"
      (onHide)="hideDialog()"
    >
        <div class="card flex justify-content-center">
          <p-accordion [multiple]="true" [activeIndex]="[0]">
            <p-accordionTab
              header="Case Details"
              [headerStyle]="{
                'background-color': '#02ABE7',
                color: 'black',
                'font-size': '18px'
              }"
            >
              <div class="card-table">
                <div class="table-wrapper">
                  <p-table
                    class="custom-table"
                    [value]="products_details"
                    [tableStyle]="{ 'min-width': '50rem' }"  (onRowSelect)="showDialog()"
                  >
                    <ng-template pTemplate="header">
                      <tr>
                        <th>Case type</th>
                        <th>Filing Number</th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product>
                      <tr>
                        <td class="text-overflow">{{ product.code }}</td>
                        <td class="text-overflow">{{ product.name }}</td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
              </div>
            </p-accordionTab>
            <p-accordionTab
              header=" Case Status"
              [headerStyle]="{
                'background-color': '#02ABE7',
                color: 'black',
                'font-size': '18px'
              }"
            >
              <p class="custom-content">
                Seeking compensation for the losses incurred due to the delay.
                The case was filed in a civil court, and both companies began
                preparing their arguments and evidence. As the case progressed,
                both parties engaged in settlement discussions to avoid the time
                and cost of a trial. After several rounds of negotiations,
                Company A agreed to compensate Company B with a financial
                settlement to cover the losses, along with an additional amount
                to cover legal fees. In return, Company B agreed to drop the
                lawsuit and not pursue further legal action.
              </p>
            </p-accordionTab>
            <p-accordionTab
              header="History of Case hearing "
              [headerStyle]="{
                'background-color': '#02ABE7',
                color: 'black',
                'font-size': '18px'
              }"
            >
              <div class="card-table">
                <p-table
                  class="custom-table"
                  [value]="products_details"
                  [tableStyle]="{ 'min-width': '50rem' }"
                >
                  <ng-template pTemplate="header">
                    <tr>
                      <th>Code</th>
                      <th>Name</th>
                      <th>Category</th>
                      <th>Quantity</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-product>
                    <tr>
                      <td class="text-overflow">{{ product.code }}</td>
                      <td class="text-overflow">{{ product.name }}</td>
                      <td class="text-overflow">{{ product.category }}</td>
                      <td class="text-overflow">{{ product.quantity }}</td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </p-accordionTab>

            <p-accordionTab
              header="Petitioner and Advocate"
              [headerStyle]="{
                'background-color': '#02ABE7',
                color: 'black',
                'font-size': '18px'
              }"
            >
              <p class="custom-content">
                In a land dispute case, the Petitioner and Advocate play crucial
                and distinct roles. The Petitioner is the party who initiates
                the legal action by filing a complaint with the court. This
                individual or entity typically seeks relief or resolution for a
                grievance related to property rights. For instance, the
                petitioner could be a landowner asserting their claim to a piece
                of property, a tenant challenging the terms of their lease, or a
                buyer seeking to enforce a real estate agreement. The petitioner
                must provide evidence to support their claims and articulate
                their position clearly to the court. The Advocate, on the other
                hand, is the legal professional who represents the petitioner
                (or the opposing party) throughout the legal proceedings.
              </p>
            </p-accordionTab>
            <p-accordionTab
              header="Acts"
              [headerStyle]="{
                'background-color': '#02ABE7',
                color: 'black',
                'font-size': '18px'
              }"
            >
              <p class="custom-content">
                In resolving land disputes, several key legal acts are
                frequently involved. The Land Acquisition Act governs how the
                government can acquire private land for public use and provides
                for compensation to landowners. For property transactions, the
                Property Transfer Act ensures that the sale, transfer, and
                registration of property are conducted legally and with proper
                documentation. The Land Registration Act establishes a legal
                framework for registering land and property to affirm ownership
                and rights. Additionally, Land Use and Zoning Laws control how
                land is utilized within certain areas to ensure appropriate
                development and usage.
              </p>
            </p-accordionTab>
          </p-accordion>
        </div>
      </p-dialog>
    </ng-template>
  </p-table>

  <p-dialog
    header="Add New Case"
    [(visible)]="display"
    [modal]="true"
    [style]="{ width: '50vw' }"
    [responsive]="true"
    [draggable]="false"
    (onHide)="resetForm()"
  >
    <form (ngSubmit)="saveProduct()" #caseForm="ngForm">
      <div class="p-fluid">
        <div class="p-field">
          <label for="case_name">Case Name</label>
          <input
            id="case_name"
            pInputText
            [(ngModel)]="newCase.case_name"
            name="case_name"
            required
          />
        </div>
        <div class="p-field">
          <label for="type">Type</label>
          <input
            id="type"
            pInputText
            [(ngModel)]="newCase.type"
            name="type"
            required
          />
        </div>
        <div class="p-field">
          <label for="description">Description</label>
          <input
            id="description"
            pInputText
            [(ngModel)]="newCase.description"
            name="description"
            required
          />
        </div>
        <div class="p-field">
          <label for="court_name">Court Name</label>
          <input
            id="court_name"
            pInputText
            [(ngModel)]="newCase.court_name"
            name="court_name"
            required
          />
        </div>
        <div class="p-field">
          <label for="location">Location</label>
          <input
            id="location"
            pInputText
            [(ngModel)]="newCase.location"
            name="location"
            required
          />
        </div>
        <div class="p-field">
          <label for="start_date">Start Date</label>
          <input
            id="start_date"
            pInputText
            type="date"
            [(ngModel)]="newCase.start_date"
            name="start_date"
            required
          />
        </div>
        <div class="p-field">
          <label for="status">Status</label>
          <p-dropdown
            [options]="statuses"
            [(ngModel)]="newCase.status"
            name="status"
            [style]="{ width: '100%' }"
          />
        </div>
        <div class="p-field">
          <label for="no_of_hearings">Number of Hearings</label>
          <input
            id="no_of_hearings"
            pInputText
            type="number"
            [(ngModel)]="newCase.no_of_hearings"
            name="no_of_hearings"
            required
          />
        </div>
        <div class="p-field">
          <label for="end_date">End Date</label>
          <input
            id="end_date"
            pInputText
            type="date"
            [(ngModel)]="newCase.end_date"
            name="end_date"
          />
        </div>
        <div class="p-field">
          <label for="documents">Documents</label>
          <input
            id="documents"
            pInputText
            [(ngModel)]="newCase.documents"
            name="documents"
          />
        </div>
        <p-footer class="flex flex-row flex-wrap">
          <button
            type="submit"
            pButton
            pRipple
            label="Save"
            class="flex align-items-center justify-content-center w-15rem h-3rem bg-warning font-bold border-round m-2"
          ></button>
          <button
            type="button"
            pButton
            pRipple
            label="Cancel"
            (click)="display = false"
            class="flex align-items-center justify-content-center w-15rem h-3rem bg-danger font-bold border-round m-2 p-button-danger"
          ></button>
        </p-footer>
      </div>
    </form>
  </p-dialog>
</div>

  </p-tabPanel>


<p-tabPanel header="My Lawyers">

  
  <div class="card-grid">
    <p-card
      class="lawyer-card"
      *ngFor="let lawyer of getCardsForSelectedCase()"
    >
      <div class="card-content">
        <button
          class="fav-icon"
          [ngClass]="{ 'fav-icon-active': isFavorite(lawyer) }"
          (click)="toggleFavorite(lawyer)"
          aria-label="Favorite"
        >
          <i
            [ngClass]="
              isFavorite(lawyer) ? 'pi pi-heart-fill' : 'pi pi-heart'
            "
          ></i>
        </button>
        <div class="image-container">
          <img
            [src]="lawyer.profile"
            alt="Profile Picture"
            class="profile-image"
          />
        </div>

        <div class="text-content">
          <h2>{{ lawyer.firstName }} {{ lawyer.lastName }}</h2>
          <p>Location: {{ lawyer.location }}</p>
          <p>Type: {{ lawyer.type }}</p>
          <p *ngIf="shouldShowViewMore(lawyer.caseDetails)">
            {{ lawyer.caseDetails | slice : 0 : 100 }}...
            <a href="#" (click)="showMoreDetails($event, lawyer)"
              >View More</a
            >
          </p>
          <p *ngIf="!shouldShowViewMore(lawyer.caseDetails)">
            {{ lawyer.caseDetails }}
          </p>
          <p class="phone-number">
            <span class="phone-label">Phone:</span> {{ lawyer.contact }}
          </p>
          <div class="action-buttons">
            <p-button
              (click)="showDialog()"
              icon="pi pi-external-link"
              label="Reach Out"
              class="p-mr-2 p-4"
            ></p-button>
            <p-button
              (click)="showAppointDialog()"
              icon="pi pi-calendar"
              label="Appoint"
            ></p-button>
          </div>
        </div>
      </div>
    </p-card>
  </div>
       
</p-tabPanel>
</p-tabView>
