// .files{
//     background-image:url('https://img.freepik.com/premium-vector/no-data-concept-illustration_86047-488.jpg?size=626&ext=jpg&ga=GA1.1.1413502914.1724716800&semt=ais_hybrid');
//     background-position: fixed;
//     background-repeat: no-repeat;
//     background-size: cover;
//     background-attachment: fixed;
//     width: 100%;
//     height:400px;
 
// }
*{
background-color: white;

}
.fixed-bottom-right {
    position: fixed;
    top: 8rem; /* Adjust the distance from the bottom */
    right: 1rem;  /* Adjust the distance from the right */
    z-index: 1000; /* Ensure the button is above other content */
    border-radius: 8px;
    padding: 2px;
    
}

.image{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 620px;
    margin-left: 270px;
    width: 800px;
}