<p-toast></p-toast>

<!-- Your existing template code -->

<div class="login-container">
  <div class="login-form">
    <div class="signup-container">
      <img src="assets/images/miraclelogo.png" width="60%" />
      <div class="absolute z-1 bottom-0 left-0">
        <h2 class="ml-4 font-lg text-white baseHeadline">
          Miracle Enterprise Template <br />
          <!-- <span class="-ml-6">Monitoring Framework</span> -->
        </h2>
        <p class="ml-4 text-left text-white">
          © 2023 Miracle Software Systems, Inc.
        </p>
      </div>
      <div class="signin">
        <form [formGroup]="loginForm">
          <div class="login-input-wrapper">
            <input
              [ngClass]="
                loginForm.get('username')?.touched &&
                loginForm.get('username')?.hasError('email')
                  ? 'ng-invalid ng-dirty'
                  : ''
              "
              type="text"
              formControlName="username"
              autocomplete="off"
              placeholder="Username"
              pInputText
            />
            <div class="errorMessage invalid-text">
              <span
                class="text-base"
                *ngIf="
                  loginForm.controls['username'].touched &&
                  loginForm.controls['username'].invalid &&
                  loginForm.controls['username'].hasError('required')
                "
                >This field is required
              </span>
              <span
                class="text-base"
                *ngIf="
                  loginForm.controls['username'].hasError('email') &&
                  loginForm.controls['username'].touched &&
                  !loginForm.controls['username'].hasError('required')
                "
                >Enter valid email
              </span>
            </div>
          </div>

          <div class="login-input-wrapper">
            <input
              [ngClass]="
                loginForm.get('password')?.touched &&
                loginForm.get('password')?.hasError('required')
                  ? 'ng-invalid ng-dirty'
                  : ''
              "
              type="password"
              formControlName="password"
              autocomplete="off"
              placeholder="Password"
              pInputText
            />



            
            <div class="errorMessage">
              <span
                class="invalid-text text-base"
                *ngIf="
                  loginForm.controls['password'].touched &&
                  loginForm.controls['password'].invalid &&
                  loginForm.controls['password'].hasError('required')
                "
                >This field is required
              </span>
              <a href="#" class="forget-password-link text-base"
                >Forgot Password ?</a
              >
            </div>

          </div>

          

          <div class="remember-me">
            <span><input type="checkbox" /></span>&nbsp;&nbsp;
            <span> Remember Me</span>
          </div>
        </form>
        <button
          [disabled]="loginForm.invalid"
          (click)="signIn()"
          pButton
          type="button"
          label="Sign In"
        ></button>

        <div class="remember-me">
          <!-- <span><input type="checkbox" /></span>&nbsp;&nbsp; -->
          <span class="login-text">Not a memeber? <span>Login</span></span>
        </div>
      </div>
    </div>
  </div>
</div>
