.signup-container {
  /* background-color: white; */
  /* padding: 20px; */
  /* border-radius: 10px; */
  /* box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75); */
  margin-top: 30%;
  text-align: center;
}

.signup-container h2 {
  margin-bottom: 20px;
}

.signup-container input {
  width: 90%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.signup-container button {
  background-color: #00aae7;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10%;
  width: 40%;
}

.signup-container button:hover {
  background-color: #33bbec;
}

.signin {
  margin-top: 10%;
}

.forget-password-link {
  color: #00aae7;
  text-decoration: none;
  position: absolute;
  right: 4rem;
}

.remember-me {
  display: flex;
  margin-left: 14px;
  margin-top: 2rem;
}

.login-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  background: url("../../../assets/images/background.jpg") no-repeat center
    center fixed;
  background-size: cover;
}

.login-form {
  /* background: rgba(255, 255, 255, 0.8); */
  background: #ffff;
  padding: 40px;
  /* border-radius: 5px; */
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  max-width: 450px;
  width: 100%;
  height: inherit;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.btn {
  background-color: #4caf50;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.btn-primary {
  background-color: #007bff;
}

.errorMessage {
  text-align: start;
  margin-left: 5%;
  margin-top: -1%;
  font-size: 12px;
  margin-bottom: 2%;
}
.baseHeadline {
  font-size: 28px;
  line-height: 40px;
  margin: 10px 0;
  font-family: "Montserrat", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}
.p-inputtext.ng-dirty.ng-invalid {
  border-color: red;
}
.p-inputtext.ng-dirty.ng-invalid:enabled:focus {
  box-shadow: 0 0 0 0.2rem #f29a9a;
}
