.profile-text{
    color: white;
    font-size: 15px;
    margin-bottom: -9px;
   
}
.display{
    display: flex;
    flex-direction: column;
}.profile-image{
    width: 40px;
    height: 40px;
}

.topbar-item-name{
    margin-right: 100px;
}

.profile-link {
    display: flex;
    align-items: center;
    margin-top: -15px;
  }
  
  .profile-text {
    margin-right: 8px; /* Adjust spacing as needed */
  }
 .back{
    background-color: rgb(134, 199, 236);
    border-radius: 20px;
z-index: -1;
margin-top: -20px;
 }
