@import "/node_modules/primeng/resources/primeng.min.css";
@import "/node_modules/primeflex/primeflex.scss";
@import "/node_modules/primeicons/primeicons.css";
@import "/node_modules/prismjs/themes/prism-coy.css";

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #404041;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #636364;
}
.invalid-text {
  color: red;
}

.badge {
  border-radius: var(--border-radius);
  padding: 0.25em 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.3px;
  display: inline-block;
  min-width: 5rem !important;
}
.success {
  background: #c8e6c9;
  color: #256029;
}
.error {
  background: #ffcdd2;
  color: #c63737;
}
.info {
  background: #feedaf;
  color: #8a5340;
}
