<!-- <p-panel header="Dashboard">
  <div class="grid flex flex-wrap p-fluid mt-4">
    <div class="col-6">
      <p-panel header="Events Based On Application">
        <div class="mt-2">
          <canvas id="canvas"></canvas>
        </div>
      </p-panel>
    </div>
    <div class="col-6">
      <p-panel header="Events Based On Severity">
        <div class="mt-2">
          <canvas id="canvas1"></canvas>
        </div>
      </p-panel>
    </div>
  </div>

  <div class="grid flex flex-wrap p-fluid mt-3">
    <div class="col-12">
      <p-panel header="Events Per Day">
        <div class="mt-2">
          <canvas id="canvas2"></canvas>
        </div>
      </p-panel>
    </div>
  </div>
</p-panel> -->
